@import "tailwindcss";

@font-face {
  font-family: "Pretendard GOV";

  src: url("./assets/fonts/PretendardGOVVariable.woff2") format("woff2-variations");

  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    "Pretendard GOV Variable", "Pretendard GOV", -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .no-spinner {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-700;
}

body::-webkit-scrollbar {
  display: none;
}
